.card {
  border: 0.1rem solid var(--zano-gray-light1);
  box-shadow: var(--zano-shadow);
  margin: 1rem;
  padding: 0;

  &__body {
    background: var(--zano-gray-light2);
  }

  &__body {
    padding: 2rem;
  }
  &__header,
  &__description {
    padding: 1rem;
    margin: 0;
  }

  &__header {
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }
  &__description {
    font-size: 1rem;
    padding-top: 0.5rem;
  }
}
