.card {
  border: 1px solid var(--zano-gray-light1);

  margin: 1rem;
  padding: 0;

  box-shadow: var(--zano-shadow);

  &__body {
    background: var(--zano-gray-light2);
  }

  &__body {
    padding: 2rem;
  }
  &__header,
  &__description {
    padding: 0.5rem 1rem;
    margin: 0;
  }
}
