.sidebar {
  margin: 1rem;
  &__title {
    font-size: var(--zano-font-size);
    margin: 0;
  }
  &__list {
    list-style-type: none;
    padding: 0;
  }
  &__list-item {
    padding: 0.5rem 1rem;
  }
}
