.text-field-search-ahead {
  position: relative;
  --size: 2rem;

  &__input,
  &__clear {
    height: var(--size);
    border: 0.1rem solid var(--zano-gray);
  }
  &__input {
    padding: var(--zano-padding) var(--size) var(--zano-padding)
      var(--zano-padding);

    font-size: 1rem;
  }

  &__list {
    border: 0.1rem solid var(--zano-gray);
    width: 100%;
  }
  &__list-item {
    border: none;
    padding: var(--zano-padding);
    background-color: var(--zano-bg-color);
    width: inherit;
    text-align: left;
  }
  &__list-item:hover {
    cursor: pointer;
    background-color: var(--zano-gray-light2);
  }
  &__list--hide {
    display: none;
  }
  &__list--show {
    display: block;
    border: 0.1rem solid var(--zano-gray);
    position: absolute;
  }
}
