@mixin text-field {
  display: flex;
  align-items: center;
  overflow: hidden;
  --size: 2rem;

  &__input,
  &__clear {
    height: var(--size);
    border: 0.1rem solid var(--zano-gray);
  }
  &__input {
    padding: var(--zano-padding) var(--size) var(--zano-padding)
      var(--zano-padding);
    width: 100%;
    font-size: 1rem;
  }

  &__clear {
    margin-left: calc(-1 * var(--size));
    width: var(--size);
    transform: translateX(var(--size));
    transition: transform 0.2s ease;
  }

  &__clear:hover {
    background-color: var(--zano-gray-light2);
    cursor: pointer;
  }
  &__clear--show {
    animation: move-in 0.2s ease forwards;
  }
  &__clear--hide {
    animation: move-out 0.2s ease;
  }

  @keyframes move-in {
    from {
      transform: translateX(var(--size));
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes move-out {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(var(--size));
    }
  }
}

.text-field {
  @include text-field;
}

.text-field-search-ahead {
  @include text-field;
  display: block;
  position: relative;
  overflow: visible;

  &__list {
    border: 0.1rem solid var(--zano-gray);
    width: 100%;
  }
  &__list-item {
    border: none;
    padding: var(--zano-padding);
    background-color: var(--zano-bg-color);
    width: inherit;
    text-align: left;
  }
  &__list-item:hover {
    cursor: pointer;
    background-color: var(--zano-gray-light2);
  }
  &__list--hide {
    display: none;
  }
  &__list--show {
    display: block;
    border: 0.1rem solid var(--zano-gray);
    position: absolute;
  }
}
